.details-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8rem;
	width: 100%;

	background-color: var(--color-section-bg);
	padding: 14rem 0 18rem 0;

	@media only screen and (max-width: 1000px) {
		padding: 14rem 0;	
	}

	&__heading {
		color: var(--font-main-color);
		font-size: 3.5rem;
		font-weight: 600;
		width: 55%;
		text-justify: auto;
		line-height: 1.2;
		text-shadow: 1px 1px 10px var(--color-shadow);
		padding: 3rem;
		text-align: center;
	}

	&__cards {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 150rem;
		flex-wrap: wrap;
		gap: 3rem;
		max-width: 80%;

		@media only screen and (max-width: 1000px) {
			gap: 5rem;	
		}
	}
}

.card-container {
	position: relative;

	perspective: 150rem;
	-moz-perspective: 150rem;
	min-height: 40rem;
	width: 35rem;

	@media only screen and (max-width: 1150px) {
		width: 52rem;
	}

	& .card {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;

		backface-visibility: hidden;
		height: 100%;
		width: 100%;

		transition: all 0.8s ease;
		border-radius: 1rem;
		box-shadow: 0rem 0.5rem 2rem var(--color-section-shadow);

		&--front {
			position: absolute;
			background-color: var(--color-section-element);

			&__icon {
				position: absolute;
				top: 2rem;
				right: 2.5rem;

				font-size: 12rem;
				text-shadow: 1px 1px 2px var(--font-main-color);
				color: var(--font-darkblue-orange);
				opacity: 0.15;
			}

			&__arrow {
				position: absolute;
				bottom: 1.5rem;
				right: 2rem;
				color: var(--font-darkblue-orange);
				text-shadow: 0px 0px 4px var(--color-shadow);
				font-size: 4rem;
			}

			&__text {
				position: absolute;
				top: 10rem;
				width: 80%;
				text-align: center;



				& > * {
					margin: 0 auto;
					font-family: 'Poppins', sans-serif;
				}

				& .card-text__heading {
					color: var(--font-main-color);
					font-size: 2.4rem;
					margin-bottom: 3rem;
					text-shadow: 1px 1px 10px var(--color-shadow);
					width: 90%;
					min-height: 70px;
				}

				& .card-text__paragraph {
					color: var(--font-darkblue-orange);
					font-size: 1.4rem;
					font-weight: 300;
					width: 80%;
				}
			}
		}
		&--back {
			position: absolute;
			transform: rotateY(180deg);
			background-color: var(--color-main-bg);
		}
	}

	&:hover {
		& .card--front {
			transform: rotateY(180deg);
		}
		& .card--back {
			transform: rotateY(0);
		}
	}
}

@keyframes slide {
  0% {
    transform: translateX(0) skew(-25deg);
  }
  100% {
    transform: translateX(700px) skew(-25deg);
  }
}
