.header-container {
	color: var(--font-main-color);
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	height: 90%;
	width: 80%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media only screen and (max-width: 1400px) {
		width: 100%;	
	}

	&__heading {
		text-align: center;
		font-size: 6rem;
		font-family: 'Poppins', sans-serif;
		letter-spacing: 0.2rem;
	}

	&__description {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 70%;
		gap: 7rem;
	}

	&__description-text {
		width: 65%;

		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		gap: 5rem;

		@media only screen and (max-width: 1400px) {
			width: 80%;	
		}
		@media only screen and (max-width: 1100px) {
			flex-direction: column;
			width: 100%;
		}

		& .description-textbox {
			font-size: 1.6rem;
			font-weight: var(--font-weight-thin);
			text-align: justify;
			text-justify: inter-word;

			@media only screen and (max-width: 1100px) {
				text-align: center;
			}
		}

		& .description-cta__container {
			flex: 0.4;
			display: flex;
			justify-content: center;
			position: relative;
			
			&::after {
				content: '';
				display: block;
				position: absolute;

				left: -20%;
				top: -35%;
				height: 170%;
				max-height: 15rem;
				width: 2px;

				background-color: currentColor;
				opacity: 0.4;
				
			@media only screen and (max-width: 1100px) {
				display: none;
			}
			}

		}

		& .description-cta {
			display: inline-block;
			border-radius: 0.5rem;
			padding: 1.5rem 2.2rem;
			width: max-content;

			text-transform: uppercase;
			text-align: center;
			font-size: 1.4rem;
			// font-family: 'Poppins', sans-serif;
			font-weight: 600;
			text-decoration: none;

			background-color: var(--color-secondary);
			color: #fff;
			text-shadow: 1px 1px 10px var(--color-dark);

			transition: all 0.2s;
			cursor: pointer;

			&:hover {
				transform: scale(1.02) translateY(-2px);
				box-shadow: 0rem 0.5rem 1.6rem var(--color-secondary-opacity);
			}
			&:active {
				transform: translateY(1px);
				box-shadow: 0rem 0.5rem 1rem var(--color-secondary-opacity);
			}
		}
	}

	&__refs {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 75%;

		& .refs__logo-container {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		& .seen-on__container {
			font-size: 1.6rem;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin-bottom: 2rem;

			& p {
				display: block;
				font-weight: var(--font-weight-thin);
				width: 24rem;
			}

			&::before {
				display: block;
				content: '';
				height: 1px;
				background-color: currentColor;
				width: 100%;
				opacity: 0.4;
			}

			&::after {
				display: block;
				content: '';
				height: 1px;
				background-color: currentColor;
				width: 100%;
				opacity: 0.4;
			}
		}

		& .landing-logo {
			height: 3rem;
			opacity: 0.6;
			cursor: pointer;

			&:not(:last-child) {
				margin-right: 3rem;
			}
		}
	}
}
