.grid-container {
	display: grid;
	grid-template-columns: 23rem 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}


.webgl__container {
	min-height: 95vh;
	height: 95vh;
	background-color:  var(--color-main-bg);
	grid-column: 2 / 3;
	overflow: hidden;
}

.webgl {
	outline: none;
	width: 100%;
  mix-blend-mode: exclusion;
}

.description {
	height: 50vh;
	width: 100%;
	background-color: red;
}

.map-container {
	min-height: 400px;
	width: 100%;
	justify-content: center;
	position: relative;
	border: 2px solid rgb(60, 0, 255);
}
