.grid-container {
	display: grid;
	grid-template-columns: 36rem calc(100vw - 36rem);
	grid-template-rows: max-content min-content min-content 80vh;

	@media only screen and (max-width: 1600px) {
		grid-template-columns: 30rem calc(100vw - 30rem);
	}
	@media only screen and (max-width: 1300px) {
		grid-template-columns: 23rem calc(100vw - 23rem);
	}
	@media only screen and (max-width: 1000px) {
		grid-template-columns: 0rem 100vw;
	}
}

.webgl__container {
	min-height: 95vh;
	height: 95vh;
	background-color: var(--color-main-bg);
	grid-column: 2 / 3;
	overflow: hidden;
	position: relative;

	@media only screen and (max-width: 700px) {
		max-height: 80vh !important;	
	}
}

.webgl {
	outline: none;
	width: 100%;
	mix-blend-mode: exclusion;
}

.details-container {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.main {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.map-container {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	width: 100%;
}

.footer {
	grid-column: 2 / 3;
}
