.sidebar {
	// grid-column: 1 / 2;
	// grid-row: 1 / -1;
	position: fixed;
	height: 100vh;
	width: 23rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--color-main-bg);
	box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
	z-index: 10;

	@media only screen and (max-width: 600px) {
		transform: translateX(-23rem);
	}

	@media only screen and (min-width: 1000px) {
		width: 30rem;
	}
	@media only screen and (min-width: 1600px) {
		width: 36rem;
	}

	// @media only screen and (max-width: 900px) {
	// 	grid-column: 1 / -1;
	// 	grid-row: 1 / 2;

	// 	position: fixed;
	// 	flex-direction: row;
	// 	justify-content: center;
	// 	z-index: 2000;
	// 	width: 100vw;
	// 	height: 100vh;
	// }

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 10rem;

		height: 100vh;
		position: fixed;
	}

	&__top {
		display: flex;
		flex-direction: column;
		height: 70vh;
		justify-content: space-evenly;

		& > :not(:first-child) {
			padding-top: 2rem;
			border-top: 1px solid;
			border-top-color: rgba(107, 107, 107, 0.2);
		}
		& > :last-child {
			padding-bottom: 2rem;
			border-bottom: 1px solid;
			border-bottom-color: rgba(107, 107, 107, 0.2);
		}
	}

	&__bottom {
		margin-bottom: 6rem;
	}

	&__logo-box {
		position: relative;
		left: -1rem;

		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;
		padding: 5rem 0;

		& img {
			width: 7.5rem;
			height: 7.5rem;

			@media only screen and (max-width: 100rem) {
				width: 6rem;
				height: 6rem;
			}
		}
	}

	&__title {
		font-family: 'Poppins';
		color: var(--font-main-color);
		font-size: 4rem;
		margin-left: 0.4rem;

		@media only screen and (max-width: 100rem) {
			font-size: 3rem;
		}
	}

	&__title-span {
		display: inline-block;
		margin-left: 0.2rem;
		color: var(--font-darkblue-orange);
	}

	&__list--top > * {
		padding: 1rem 1.5rem;
	}

	&__list--bottom > * {
		padding: 1rem 1.5rem;
	}

	&__list-item {
		display: flex;
		align-items: center;
		color: var(--font-main-color);
		gap: 2rem;
		transition: box-shadow 0.2s, transform 0.03s;

		& p {
			opacity: 0.8;
			font-size: 1.2rem;
		}

		&:hover {
			box-shadow: 0rem 0rem 1.3rem var(--color-shadow);
			transform: scale(1.08);
			cursor: pointer;

			@media only screen and (max-width: 100rem) {
				box-shadow: -1rem 0rem 1rem var(--color-shadow);
			}
		}

		& i {
			font-size: 2rem;
			color: var(--color-main-accent);
		}
	}
}
