.button__show-sidebar {
	position: fixed;
	top: 3rem;
	left: 3rem;
	z-index: 100;
	background-color: transparent;
	border: .4rem solid var(--font-main-color);
	border-radius: 1rem;
	width: 6rem;
	height: 6rem;
	box-shadow: 0 0 .8rem var(--color-shadow) inset, 0 0 4rem var(--color-shadow);

	& i {
		font-size: 4rem;
		color: var(--font-main-color);
	}


	@media only screen and (min-width: 1000px) {
		display: none;
	}
}

.sidebar--visible {
	transform: translateX(0rem);
	width: 80%;
}
