// imports
@use './layout/layout';
@use './layout/sidebar';
@use './layout/header-container';
@use './layout/details-container';
@use './layout/map-container';
@use './layout/main-container';

@use './components/darkmode-switch';
@use './components/button__show-sidebar';
@use './components/button--animated';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@100;300;500;600;900&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@100;300;600;900&family=Poppins:wght@100;200;300;500;600;700;800&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

// reset
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: inherit;

	transition: background-color 0.2s, color 0.1s;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;

	@media only screen and (max-width: 600px) {
		font-size: 50%;
	}
}

body {
	background-color: var(--color-main-bg);
}

// color theme
:root {
	--color-main-bg: #fff;
	--color-secondary: #3777ff;
	--color-secondary-opacity: #3776ff52;
	--color-secondary-light: #cfdaf1;
	--color-dark: #3b3b3b;
	--color-shadow: #ddd;
	--color-shadow-light: #3131312c;

	--color-section-bg: #eee;
	--color-section-element: #f1f1f1;
	--color-section-shadow: rgb(175, 175, 175);

	--color-blue: #08a0f7;
	--color-purple: #6c5ecf;
	--color-red: #ea6161;

	--font-main-color: #212121;
	--font-secondary-color: #808191;
	--font-darkblue-orange: #ee6c4d;
	--font-darkblue-orange-opacity: #ee6d4d3f;
	--font-weight-thin: 500;

	--darkmode-switch-border: #293241;
	--darkmode-switch-thumb: #f45b69;
	--darkmode-switch-fontweight: 500;
}

[data-theme='dark'] {
	--color-main-bg: #1d1c21;
	--color-secondary: #f45b69;
	--color-secondary-opacity: #f45b6838;
	--color-dark: #1d1c21;
	--color-purple: #6e60d8;
	--color-shadow: #0c0c0c;
	--color-shadow-light: rgba(255, 255, 255, 0.157);

	--color-section-bg: #3e3c47;
	--color-section-element: #605c6d;
	--color-section-shadow: rgb(36, 36, 36);

	--font-main-color: #fff;
	--font-darkblue-orange: #e0fbfc;
	--font-darkblue-orange-opacity: #e0fbfc3a;
	--font-weight-thin: 300;

	--darkmode-switch-border: #f45b69;
	--darkmode-switch-fontweight: 300;
}

// utility classes
.svg-element {
	stop-color: var(--font-main-color);
}

.hidden {
	display: none;
}

.invert {
	filter: invert(70%);
	opacity: 1 !important;
}

.underline {
	display: inline-block;
	border-bottom: 0.3rem solid;
	border-block-end-style: ridge;

	&--main {
		border-color: var(--color-secondary);

		&:hover {
			background-color: var(--color-secondary-opacity);
			border-radius: 0.5rem;
		}
	}
	&--secondary {
		border-color: var(--font-darkblue-orange);

		&:hover {
			background-color: var(--font-darkblue-orange-opacity);
			border-radius: 0.5rem;
		}
	}
}
